body {
  margin-top: 25vh;
  background-color: aliceblue;
  background-image: url(https://images.unsplash.com/photo-1634909924531-4daae117dbc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2531&q=80);
}

.container {
  width: 50%;
}

.card-header {
  color: white;
}

h1 {
  text-align: center;
  margin: 15px;
  padding: 30px;
  font-size: 55px;
  ;

}

#sub {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

label {
  display: block;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}